/* Задний фон */
body {
    font-family: Arial, sans-serif;
    background-color: #02000c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
}

/* Главный контейнер, содержащий монету, счёт и тд */
.main-container {
    text-align: center;
    height: 100%;
    background-color: #1a1a1a;
    color: #f1f1f1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 15px 2px #85858590;
    justify-content: space-between;
    position: relative;
}

/* Отображение монеты */
.coin {
    width: 200px;
    height: 200px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition: transform 0.2s;
}

.coin img {
    width: 100%;
}

/* Очки */
.score h2 {
    font-size: 32px;
    margin: 0;
    margin-top: 25px;
}

.dashboard-metrics {
    display: flex;
    justify-content: space-between;
    position: relative;
}

/* Энергия */
.energy {
    display: flex;
    margin-top: 10px;
    align-items: center;
    background-color: #424242c9;
    width: 100px;
    height: 45px;
    border-radius: 12px;
    box-shadow: 1.6px 1.6px 0 #5a5a5ac2;
}

.energy img {
    height: 75%;
}

/* Доход */
.income {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
    background-color: #424242c9;
    width: 120px;
    height: 45px;
    border-radius: 12px;
    box-shadow: 1.4px 1.4px 0 #5a5a5ac2;
    position: relative;
}

.income p {
    font-size: 8.2px;
    color: #a7a7a78c;
    margin: 0;
    margin-top: 1.2px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    height: 30px;
    width: 120px;
}

.content img {
    height: 80%;
    margin-right: 3px;
}

/* Профиль (фото и имя) */
.profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 5px;
}

.profile-photo {
    display: flex;
    align-items: center;
    background-color: #04001a;
    width: 45px;
    height: 45px;
    box-shadow: 0 0 2px #23232352;
    overflow: hidden;
}

.profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20%;
}

.profile-name {
    margin-left: 10px;
    font-size: 17px;
    color: #f1f1f1;
    font-weight: bold;
}

/* Кнопка настроек */
.settings {
    width: 45px;
    height: 45px;
    position: absolute;
    margin: 80%;
    background-image: url('../images/setting-icon.png');
    background-size: cover;
}

/* Полоса уровня и название */
.profile-level {
    margin-top: 5px;
    width: 150px;
    text-align: center;
}

/* Контейнер полосы уровня */
.level-bar {
    width: 100%;
    height: 5px;
    margin-top: 4px;
    background-color: #eaeaeaea; /* Цвет фона полосы */
    border-radius: 10px;
    box-shadow: 0 0 5px #0000004d;
    overflow: hidden;
}

/* Прогресс уровня */
.level-process {
    height: 100%;
    background: linear-gradient(90deg, #26ba26 0%, #c8e014 50%, #d17e02 75%, #780404 100%); /* Градиентный фон прогресса */
    border-radius: 10px 0 0 10px;
    transition: width 1s ease; /* Плавное изменение ширины при изменении уровня */
}

/* Выбор меню */
.select-menu {
    display: flex;
    justify-content: space-between;
    
    width: 340px;
    height: 100px;
    margin-top: 30px;
    border-top: 1.5px solid #bababab5;
}

.select-menu a {
    color: #efefef;
    text-decoration: none;
}

.menu-icon {
    width: 70px;
    height: 70px;
}

/* Полоса текущей страницы */
.strip-page {
    position: relative;
    padding-bottom: 7px;
}

.strip-page::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: #ba0000;
    border-radius: 10px;
    box-shadow: 0 2px 4px #00000033;
}