header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
    padding-top: 50px;
}

/* Создание прямоугольника для задания */
.task {
    width: 300px;
    height: 80px;
    background-color: #282828;
    border: 1px solid #989898;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 6px;
}

/* Логотип задания */
.logo {
    width: 25%;
    height: 100%;
    border-right: 1px solid #989898;
    position: absolute;
    top: 0;
    left: 0;
}

/* Фото логотипа */
.logo img {
    margin-top: 3px;
    width: 90%;
    height: 90%;
    object-fit: contain;
}

/* Название задания */
.task-name {
    border-bottom: 1px solid #989898;
    top: 5%;
    left: 25%;
    width: 75%;
    padding-right: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    position: absolute;
}

/* Расположение награждения */
.task-reward {
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 20px;
    top: 64%;
    left: 25%;
    width: 75%;
    justify-content: center;
}

/* Изменение фото */
.task-reward img {
    width: 12%;
    height: auto;
    margin-right: 5px;
}

/* Стили для уведомления */
.notification {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%) translateY(30px);
    background: linear-gradient(135deg, #22223fb0 0%, #2e2e4eb0 25%, #353563b0 50%, #444480b0 75%, #39397db0 100%);

    color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 20px #0000004d;
    opacity: 0;
    transition: opacity 0.4s ease, transform 0.4s ease;
    padding: 15px 25px;
    max-width: 300px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    cursor: pointer;
}

/* Показ уведомления */
.notification.show {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

/* Анимация исчезновения уведомления */
.notification.hide {
    opacity: 0;
    transform: translateX(-50%) translateY(30px);
}
