/* Создание прямоугольника для задания */
.task {
    width: 300px;
    height: 80px;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 5px;
}

/* Логотип задания */
.logo {
    width: 25%;
    height: 100%;
    border-right: 1px solid grey;
    position: absolute;
    top: 0;
    left: 0;
}

/* Фото логотипа */
.logo img {
    margin-top: 3px;
    width: 90%;
    height: 90%;
    object-fit: contain;
}

/* Название задания */
.task-name {
    border-bottom: 1px solid grey;
    top: 5%;
    left: 25%;
    width: 75%;
    padding-right: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    position: absolute;
}

/* Расположение награждения */
.task-reward {
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 20px;
    top: 64%;
    left: 25%;
    width: 75%;
    justify-content: center;
}

/* Изменение фото */
.task-reward img {
    width: 12%;
    height: auto;
    margin-right: 5px;
}

/* Стили для уведомления */
.notification {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1000;
}

/* Показ уведомления */
.notification.show {
    opacity: 1;
}
